<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
</head>

<body>
    <div th:fragment="assetGlaf_contents">
        <div class="page-header">
            <h1>月々の資産グラフ</h1>
        </div>
        <div>
            <canvas id="assetGlaf"></canvas>
            <script type="text/javascript">
        /*     モック */
                var ctx = document.getElementById("assetGlaf").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["M", "T", "W", "R", "F", "S", "S"],
                        datasets: [{
                            label: 'apples',
                            data: [12, 19, 3, 17, 28, 24, 7],
                            backgroundColor: "rgba(153,255,51,1)"

                        }, {
                            label: 'oranges',
                            data: [30, 29, 5, 5, 20, 3, 10],
                            backgroundColor: "rgba(255,153,0,1)"
                        }]
                    }
                });

            </script>
        </div>
    </div>
</body>

</html>